In [12]:
import pandas as pd
df = pd.read_excel('dataset_v1.csv')
df.head()

                                          Unnamed: 0 Unnamed: 1
0                               How much is genetic?       open
1                              How do drivers train?       open
2                  What new treatments are emerging?       open
3                        When was Rhual constructed?     closed
4  Which country has topped the swimming medals l...     closed